header{ 
    background-color: #008cc8; 
    margin-top: 10px; 
   } 
   img{ 
    width: 150px; 
    height: auto; 
   } 
   a{ 
    font-family: 'Tahoma'; 
    font-size: 16px; 
    color:aliceblue;  
   } 
   
